/* MAIN
******************************************************************/
.page-content{
    padding-top: 20px;
}


/* NOTICE BADGES
******************************************************************/
.notice-badges{
    .notice-badge{
        transition: opacity .3s ease;
        width: 22px;
        display: inline-block;
    }
}


/* SETTING PAGE
******************************************************************/
.setting-page{
    display: table;
    width: 100%;
    .sp-wrapper{
        display: table-row;
        .sp-itm{
            display: table-cell;
            vertical-align: top;
            &.sp-content{
                // background-color: blue;
                padding-left: 20px;
                // padding-top: 100px;
            }
            &.sp-sidebar{
                width: 200px;
                // background-color: red;
                border-right: 1px solid #ccc;
                ul{
                    padding: 0px;
                    margin: 0px;
                    // border-right: 1px solid #ccc;
                    // padding-right: 20px;
                    li{
                        list-style: none;
                        a{
                            display: block;
                            text-decoration: none;
                            padding: 6px 8px;
                            // background-color: #ccc;
                            // border-radius: 3px 0px 0px 3px;
                            // border-radius: 5px 0px 0px 5px;
                            line-height: 1em;
                            border: 1px solid white;
                            color: rgba(0,0,0,.5);
                            font-weight: bold;
                            &.active{
                                background-color: #e9ecef!important;
                                // color: white;
                                // border-radius: 0px;
                                // border: 2px solid white;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* EDIT CREATE NAV TABS
******************************************************************/
.edit-create-nav-tabs{
    position: relative;
    border: 0px!important;
    position: relative;
    top: 1px;
    left: 4px;
    z-index: 99;
    li{
        a{
            // border-bottom: 1px solid #f8f9fa!important;
            border: 1px solid #f4f4f4!important;
            // position: relative;
            // top: 6px;
            // background-color: #f8f9fb!important;
            &.active{
                // top: 0px;
                background-color: #f8f9fa!important;
                border-bottom: 1px solid #f8f9fa!important;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f2f2+0,f8f9fa+100 */
                background: #f2f2f2; /* Old browsers */
                background: -moz-linear-gradient(top,  #f2f2f2 0%, #f8f9fa 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f8f9fa 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #f2f2f2 0%,#f8f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f8f9fa',GradientType=0 ); /* IE6-9 */
            }
        }
        &.action-btn{
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .dropdown-menu{
        border-radius: 4px!important;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    // background-color: #f8f9fa!important;
}


/* EDIT CREATE TAB CONTENT
******************************************************************/
.edit-create-tab-content{
    background-color: #f8f9fa!important;
    position: relative;
    // z-index: 99;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    // top: -1px;
    #hours{
        padding-top: 15px;
    }
}


/* BREADCRUMBS
******************************************************************/
.breadcrumb{
    padding: 3px 12px!important;
    border-radius: 0px!important;
    margin-bottom: 0px!important;
}


input, textarea, select{
    background-color: #f9f9f9!important;
}



/* MAIN NAVBAR
******************************************************************/
.main-navbar{
    padding: 0px!important;
    // border-bottom: 1px solid white;
    .navbar-nav{
        .nav-item{
            a{
                padding: 10px 14px;
            }
            &.active{
                a{
                    background-color: #e9ecef;
                    // background-color: #999;
                }
            }
        }
    }
}



/* TEMPLATES LIST
******************************************************************/
.templates-list{
    // #dataTable .actions{
    //     width: 140px!important;
    // }
    // #dataTable .actions .action{
    //     margin-left: 6px;
    // }
    #dataTable{
        .coll-price, .workers-count{
            vertical-align: middle;
            text-align: center!important;
        }
        .actions{
            width: 80px!important;
            .action{
                margin-left: 6px;
            }
        }
    }
    // #dataTable .coll-status .status-circle{
    //     position: relative;
    //     left: 15px;
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     position: relative;
    //     left: 15px;
    // }
    // #dataTable .workers-count div{
    //     position: relative;
    //     left: 13px;
    //     font-weight: bold;
    // }
}



/* DATATABLE ACTION BUTTONS
******************************************************************/
.dataTable{
    .actions{
        
        
        
    }
}

.action-drop{
    .dropdown-menu{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        padding: 4px 10px;
        text-align: center;
        .btnns{
            padding: 10px 0px;
            .btnn{
                margin-right: 20px;
                display: inline-block;
                outline: none;
                border: none!important;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}



/* PAGE ACTIONS
******************************************************************/
.page-actions{
    .page-action{
        position: relative;
        top: 20px!important;
        // padding: 5px 12px;
        svg{
           position: relative;
           top: -2px!important;
       }
   }
}



/* MODAL CUSTOM DARK HEADER FOOTER
******************************************************************/
.modal-custom-dark-header-footer{
    .modal-header{
        padding-right: 50px;
        position: relative;
        .badge-information{
            position: absolute;
            top: -12px;
            left: 10px;
            font-size: 14px!important;
        }
        .modal-title{
            .badge{
                cursor: default;
                font-size: 14px!important;
            }
        }
        .close{
            font-size: 60px;
            color: #fff;
            opacity: .7;
            transition: opacity .3s ease;
            line-height: .8em;
            padding: 0px;
            margin: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 60px;
            width: 60px;
            span{
                position: absolute;
                top: 0px;
                right: 0px;
                height: 60px;
                width: 60px;
            }
            &:hover{
                color: #fff;
                opacity: 1!important;
            }
        }
    }
    .modal-header, .modal-footer{
        color: white;
    }
    .modal-content{
        background-color: #6c757d;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
        -moz-box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
        box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
        .btn-group{
            // position: relative;
            // top: -2px;
            margin-top: -1px;
            border-radius: 0px;
            .btn{
                border-radius: 0px!important;
            }
        }
    }
    .modal-body{
        background-color: white;
    }
}


/* SHOW TABLE
******************************************************************/
table.show-table{
    width: 100%;
    tr{
        &:nth-child(even) {
            background-color: #f2f2f2;
        }
        td, th{
            border: 1px solid #ccc;
            padding: 3px 6px;
        }
        td{
            &:first-child{
                /* background-color: #f1f1f1; */
                width: 140px;
            }
        }
    }
}


/* BUSINESS HOURS
******************************************************************/
#businessHours{
    .card-body{
        padding: 0px;
        table{
            width: 100%;
            tr{
                &.end td{
                    padding-bottom: 10px;
                }
                &.start td{
                    padding-top: 10px;
                }
                td{
                    background-color: rgba(0,0,0,.03);
                    &:nth-child(1){
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }
            tr.end:nth-child(4n-2), tr.start:nth-child(4n-3){
                td{
                    background-color: #ffffff;
                }
            }
        }
    }
}