/* MAIN
******************************************************************/
.page-content{
    padding-top: 20px;
}


.show {
    transition: opacity 150ms!important;
}


/* HOME PAGE
******************************************************************/
.home-page{
    .card{
        margin-bottom: 20px;
    }
}

:root{
    --background-opacity: 1;
    --background-color: rgba(0,0,0, var(--background-opacity, 0));
    
    --bg-rgb-approved: 114, 51, 128;
    --bg-rgb-not-approved: 207, 88, 44;
    --bg-rgb-free: 89, 163, 75;
    --bg-rgb-free-short: 238, 220, 151;
    
    --rgb-warning: 255, 193, 7;
}

.bg-approved{
    background-color: #723380!important;
}
.bg-not-approved{
    background-color: #cf582c!important;
}


/* BUTTONS
******************************************************************/
.btn-approved{
    background-color: rgba(var(--bg-rgb-approved), 1)!important;
    border-color: rgba(var(--bg-rgb-approved), 1)!important;
    color: white!important;
    &:focus{
        // background-color: rgba(var(--bg-approved), 0)!important;
        box-shadow: 0 0 0 0.2rem rgba(var(--bg-rgb-approved), .5)!important;
    }
}

.btn-secondary-custom{
    background-color: rgba(108,117,125, .5)!important;
    color: white!important;
    &:focus{
        // background-color: #5a6268;
        border-color: rgba(84,91,98, .3)!important;
        box-shadow: 0 0 0 0.2rem rgba(130,138,145, .3)!important;
    }
}

.btn-info-custom{
    background-color: rgba(19,132,150, .8)!important;
    color: white!important;
    &:focus{
        border-color: rgba(17,122,139, .2)!important;
        box-shadow: 0 0 0 0.2rem rgba(58,176,195, .3)!important;
    }
}

.btn-success-custom{
    background-color: rgba(40,167,69, .8)!important;
    color: white!important;
    &:focus{
        border-color: rgba(30,126,52, .2)!important;
        box-shadow: 0 0 0 0.2rem rgba(72,180,97, .3)!important;
        // 
        // border-color: #1e7e34;
        // box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
    }
}

.for-show-more-events-btn{
    padding-right: 4px;
    padding-bottom: 6px;
    .show-more-events-btn{
        float: right;
        font-size: 12px!important;
    }
}


/* INFO NAVBAR
******************************************************************/
.info-navbarr{
    position: relative;
    font-size: 14px;
    color: white!important;
    // .moving-event{
    // 
    // }
    .btn-actions{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 9;
        height: 100%;
        max-height: 64px;
        width: 30px;
        border-radius: 0px 3px 3px 0px;
        overflow: hidden;
        .btn-action{
            display: block;
            height: 49.9%;
            width: 100%;
            text-align: center;
            line-height: 28px;
            color: white;
            &:hover{
                background-color: rgba(0,0,0, .1);
            }
        }
    }
    .top-title{
        position: absolute;
        top: -13px;
        left: 10px;
        font-size: 12px;
        // font-weight: normal;
        padding: 4px 8px!important;
    }
}


/* TOOLTIPS
******************************************************************/
.tooltip-moving-event-box-edit-btn,
.tooltip-moving-event-box-close-btn{
    // display: none!important;
    // margin-right: 10px!important;
    z-index: 99999!important;
}
.tooltip-moving-event-box-info-btn{
    left: 15px!important;
    z-index: 99999!important;
}
.tooltip-moving-event-info{
    text-align: left;
    hr{
        padding: 0px;
        margin: 6px 0px;
        color: white;
        background-color: white;
    }
    .d-table{
        width: 100%;
        .d-table-cell{
            &:first-child{
                width: 50px;
                text-align: right;
            }
            &:last-child{
                padding-left: 4px;
            }
        }
    }
}


/* CALENDAR ALL BOOKINGS
******************************************************************/
:root{
    --calendar-event-item-title-display: inline;
}
@media all and (max-width: 1000px) {
    .calendar-all-bookings{
        .month-calendar, .week-calendar{
            --calendar-event-item-title-display: none;
        }
    }
}
@media all and (max-width: 350px) {
    .calendar-all-bookings{
        .day-calendar, .list-calendar{
            --calendar-event-item-title-display: none;
        }
    }
}

.modal-counters{
    // width: 200px;
    font-size: 12px;
    // padding-top: 26px;
    padding-left: 4px;
    padding-top: 6px;
    line-height: 14px;
    // opacity: .4;
    transition: opacity .3s ease;
    display: block;
    
    // position: absolute;
    // top: 18px;
    // left: 10px;
    ul{
        padding: 0px;
        margin: 0px;
        li{
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: left;
            margin-right: 6px;
            // font-size: 12px!important;
            span{
                cursor: default;
                &.badge-counter-total{
                    background-color: #17a2b8!important;
                    color: white;
                }
                &.badge-counter-approved{
                    background-color: rgba(114,51,128, 1);
                    color: white;
                }
                &.badge-counter-not-approved{
                    background-color: #cf582c;
                    color: white;
                }
            }
        }
    }
}


/* MODAL FILTERS
******************************************************************/
.modal-filters{
    .modal-header, .modal-body, .modal-footer{
        .btn-group{
            // display: none;
            .btn{
                // display: none;
                &:first-child{
                    border-radius: 3px 0px 0px 3px!important;
                }
                &:last-child{
                    border-radius: 0px 3px 3px 0px!important;
                }
                &:only-child{
                    border-radius: 3px 3px 3px 3px!important;
                }
            }
        }
    }
    .modal-body{
        .filter-block{
            margin-bottom: 16px;
            transition: box-shadow .2s ease;
            &:hover{
                -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0, .3);
                -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0, .3);
                box-shadow: 0px 0px 7px 0px rgba(0,0,0, .3);
            }
            &:last-child{
                margin-bottom: 0px;
            }
            &:only-child{
                margin-bottom: 16px;
            }
        }
    }
}


/* MODAL MORE EVENTS
******************************************************************/
.modal-more-events{
    .modal-title{
        .modal-counters{
            .badge{
                font-size: 12px!important;
            }
        }
    }
}

.modal-events{
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding: 4px;
    max-height: 200px;
    overflow: auto;
    .free-slot{
        display: block;
        width: 100%;
        background-color: rgba(144,238,144, 0.5);
        margin-bottom: 3px;
        border-radius: 3px;
        font-size: 10px;
        padding: 2px 6px;
        color: black;
        text-decoration: none;
        transition: background .2s ease;
        margin-bottom: 6px;
        cursor: pointer;
    }
    .modal-event{
        display: block;
        width: 100%;
        // min-height: 60px;
        // background-color: rgba(114,51,128, 1);
        // background-color: #cf582c;
        /* margin-bottom: 3px; */
        border-radius: 3px;
        font-size: 12px;
        padding: 14px 6px 2px;
        color: white;
        text-decoration: none;
        transition: background .2s ease;
        position: relative;
        margin-top: 12px;
        // width: calc(100% + 27px);
        // margin-bottom: 6px;
        .badge-time{
            position: absolute;
            top: -6px;
            left: 6px;
            font-size: 12px;
            font-weight: normal;
        }
        &.approved{
            background-color: rgba(114,51,128, 1);
        }
        &.not-approved{
            background-color: #cf582c;
        }
        .time-crossing{
            position: absolute;
            display: block;
            height: 14px;
            width: 14px;
            top: 0px;
            right: 6px;
            border-radius: 0px 3px 0px 0px;
            padding: 2px;
        }
    }
}


.event-actions{
    --background-color: rgba(0,0,0, 0);
    --hover-background-color: rgba(0,0,0, .3);
    --dropdown-menu-min-width: 0px;
    --dropdown-menu-text-align: left;
    --item-size: 20px;
    --item-float: left;
    --item-disable-color: rgba(255,255,255, .2);
    --disabled-drop-menu-items-text-decoration: none;
    &.disabled-items-with-line-through{
        --item-disable-color: var(--action-color, white);
    }
    &.disabled-drop-menu-items-with-line-through{
        --disabled-drop-menu-items-text-decoration: line-through;
    }
    .line-through{
        position: absolute;
        top: 50%;
        left: 10%;
        width: 80%;
        height: 1px;
        background-color: black;
        margin: auto!important;
        background-color: var(--action-color, white);
    }
    &.bigger{
        --item-size: 30px;
    }
    &.without-hover-bg{
        --hover-background-color: rgba(0,0,0, 0);
    }
    &.size-middle{
        --item-size: 25px;
    }
    &.right-placed{
        --item-float: none;
    }
    height: 20px;
    ul{
        padding: 0px!important;
        margin: 0px!important;
        li{
            float: var(--item-float);
            width: var(--item-size);
            height: var(--item-size);
            text-align: center;
            transition: background-color .3s ease;
            list-style: none;
            a{
                position: relative;
                color: var(--action-color, white);
                display: block;
                height: var(--item-size);
                width: var(--item-size);
                line-height: calc(var(--item-size) - 15%);
                background-color: var(--background-color);
                transition: background-color .3s ease;
                &:hover{
                    --background-color: var(--hover-background-color);
                }
                &.action-loader{
                    padding-top: 3px;
                    padding-left: 3px;
                    &:hover{
                        background: none!important;
                    }
                }
                &.disable{
                    color: var(--item-disable-color)!important;
                    &:hover{
                        background: none!important;
                    }
                }
            }
        }
    }
    .action-remove{
        --dropdown-menu-min-width: 150px;
        --dropdown-menu-text-align: center;
    }
    .action-drop{
        height: 100%;
        width: 100%;
        &.show{
            // --background-color: rgba(0,0,0, .3);
            --background-color: var(--hover-background-color);
        }
        // > a{
        //     color: white;
        //     display: block;
        //     height: 100%;
        //     width: 100%;
        //     background-color: var(--background-color);
        // }
        .dropdown-menu{
            text-align: var(--dropdown-menu-text-align);
            width: auto!important;
            // min-width: 0px;
            min-width: var(--dropdown-menu-min-width);
            .btnns{
                padding: 5px 0px!important;
                width: 101px;
                margin: auto;
                a.btnn{
                    width: 50px;
                    display: block;
                    float: left!important;
                    margin: 0px!important;
                    background: none;
                    // &.btnn-no{
                    //     color: black!important;
                    // } 
                }
            }
            .itemms{
                a{
                    display: inline!important;
                    color: black!important;
                    padding: 0px!important;
                    margin: 0px!important;
                    text-align: left;
                    background: none;
                    font-weight: normal;
                    font-size: 14px;
                    // text-decoration: line-through!important;
                    &:hover{
                        text-decoration: underline;
                    }
                    &.disable{
                        color: #999!important;
                        text-decoration: var(--disabled-drop-menu-items-text-decoration, none)!important;
                        // &:hover{
                        //     text-decoration: none;
                        // }
                    }
                    .action-info{
                        position: relative;
                        top: -2px;
                    }
                }
            }
            .action-date-time-current-day{
                // display: none;
                line-height: 14px!important;
                .dropdown-item{
                    display: block!important;
                    padding-top: 5px!important;
                    padding-bottom: 3px!important;
                    line-height: 14px!important;
                }
            }
        }
    }
}

.calendar-all-bookings{
    .for-slot{
        padding-left: 30px;
        padding-right: 4px;
        padding-top: 4px;
        .slot{
            display: block;
            width: 100%;
            margin-bottom: 3px;
            border-radius: 3px;
            font-size: 10px;
            padding: 2px 6px;
            color: black;
            text-decoration: none;
            transition: background .2s ease;
            margin-bottom: 6px;
        }
        .opened-slot{
            // background-color: rgba(144, 238, 144, 0.5);
            background-color: rgba(84, 159, 183, 1);
            color: white;
        }
    }
    .week-calendar, .day-calendar{
        .for-closed-slot{
            padding-left: 4px;
        }
        .for-slot{
            padding-left: 4px;
        }
    }
    .for-closed-slot{
        padding-left: 30px;
        padding-right: 4px;
        padding-top: 4px;
        .closed-slot{
            display: block;
            width: 100%;
            background-color: rgba(255, 0, 0, 0.1);
            margin-bottom: 3px;
            border-radius: 3px;
            font-size: 10px;
            padding: 2px 6px;
            color: black;
            text-decoration: none;
            transition: background .2s ease;
            margin-bottom: 6px;
        }
    }
    .cell-placeholder{
        // min-height: 85px!important;
        padding: 6px;
    }
    .month-calendar, .week-calendar{
        min-width: 800px;
    }
    .month-calendar, .week-calendar, .day-calendar, .list-calendar{
        padding-top: 10px!important;
    }
    .week-calendar{
        .weekday-title{
            // position: relative;
            a{
                color: #333;
                // display: block;
                // position: absolute;
                // top: 0px;
                // left: 0px;
                // width: 100%;
                // height: 100%;
            }
        }
    }
    .month-calendar, .week-calendar, .day-calendar{
        // padding-top: 10px!important;
        // min-width: 800px;
        table{
            width: 100%;
            td, th{
                border: 1px solid #ccc;
            }
            th{
                text-align: center;
            }
            td{
                width: 14.25%;
                vertical-align: top;
                &:hover{
                    .counters{
                        opacity: 1;
                    }
                }
                &.weekend{
                    // display: block;
                    // width: 100%;
                    background-color: rgba(255, 0, 0, 0.1);
                    // margin-bottom: 3px;
                    // border-radius: 3px;
                    // font-size: 10px;
                    // padding: 2px 6px;
                    // color: black;
                    // text-decoration: none;
                    // transition: background .2s ease;
                    // margin-bottom: 6px;
                }
                .cell-content{
                    min-height: 80px!important;
                    position: relative;
                    .day{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        font-weight: bold;
                        padding: 0px 4px;
                        // background-color: #444;
                        // border-radius: 3px;
                        border-radius: 50%;
                        color: #333;
                        z-index: 9;
                        cursor: pointer;
                        // transition: background-color .3s ease;
                        &:hover{
                            text-decoration: underline;
                            // background-color: green;
                        }
                        &.not-period{
                            opacity: .5;
                        }
                    }
                }
            }
        }
        table tr.divider td{
            height: 10px;
            background-color: #6c757d;
        }
        .day{
            &.not-period{
                color: #999;
            }
        }
        .current-day{
            background-color: rgba(8,232,222, 0.3)!important; 
        }
        .booking{
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
        .counters{
            --counters-font-size: 12px;
            --counters-padding-top: 26px;
            --counters-padding-left: 4px;
            --counters-line-height: 14px;
            --counters-opacity: .4;
            width: 26px;
            position: absolute;
            top: var(--counters-padding-top, 26px);
            // float: left;
            font-size: var(--counters-font-size, 12px);
            // padding-top: var(--counters-padding-top, 26px);
            padding-left: var(--counters-padding-left, 4px);
            line-height: var(--counters-line-height, 14px);
            opacity: var(--counters-opacity, .4);
            transition: opacity .3s ease;
            &.counters-to-top{
                --counters-padding-top: 4px;
            }
            &.counters-dis-transparency{
                --counters-opacity: 1;
            }
            &.counters-bigger{
                --counters-font-size: 18px;
                --counters-line-height: 20px;
                --counters-padding-left: 2px;
            }
            ul{
                padding: 0px;
                margin: 0px;
                li{
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    span{
                        cursor: pointer;
                        &.badge-counter-total{
                            background-color: #17a2b8!important;
                            color: white;
                        }
                        &.badge-counter-approved{
                            background-color: rgba(114,51,128, 1);
                            color: white;
                        }
                        &.badge-counter-not-approved{
                            background-color: #cf582c;
                            color: white;
                        }
                    }
                }
            }
        }
        .events{
            --events-padding-left: 40px;
            --min-height-cell: initial;
            padding-left: var(--events-padding-left, 40px);
            padding-right: 14px;
            padding-top: 4px;
            width: 100%;
            &.min-height-cell{
                --min-height-cell: 86px;
            }
            &.remove-padding-left{
                --events-padding-left: 14px;
            }
            // padding: 0px;
            // margin: 0px;
            .for-events{
                // padding: 0px;
                // margin: 0px;
                // width: 100%;
                // padding-left: 30px;
                // padding-right: 4px;
                // padding-top: 4px;
                .if-events{
                    // list-style: none;
                    padding-top: 0px;
                    padding-left: 5px;
                    padding-right: 5px;
                    .free-slot{
                        --btn-pick-text-decoration: none;
                        // min-height: var(--min-height-cell, initial)!important;
                        display: block;
                        position: relative;
                        width: 100%;
                        background-color: rgba(144,238,144, 0.5);
                        margin-bottom: 3px;
                        border-radius: 3px;
                        font-size: 10px;
                        padding: 2px 6px;
                        color: black;
                        text-decoration: none;
                        transition: background .2s ease;
                        margin-bottom: 6px;
                        // cursor: pointer;
                        // &.min-slot-height{
                        //     min-height: 64px;
                        // }
                        &:hover{
                            // --btn-pick-text-decoration: underline;
                        }
                        &.too-short{
                            background-color: rgba(242,195,42, 0.5);
                        }
                        .cover-cell-btn{
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                        }
                        .btn-pick{
                            text-decoration: var(--btn-pick-text-decoration);
                            width: 100%;
                            border: none;
                            outline: none;
                            &:hover{
                                --btn-pick-text-decoration: underline;
                            }
                            &:focus{
                                box-shadow: none!important;
                            }
                            // position: absolute;
                            // bottom: 0px;
                            // left: 0px;
                            // width: 100%;
                            // border: none;
                            // outline: none;
                            // &:focus{
                            //     box-shadow: none!importamt;
                            // }
                        }
                    }
                    .event{
                        background-color: red;
                        display: block;
                        width: 100%;
                        min-height: var(--min-height-cell, initial);
                        // background-color: rgba(114,51,128, 1);
                        background-color: #cf582c;
                        /* margin-bottom: 3px; */
                        border-radius: 3px;
                        font-size: 10px;
                        padding: 2px 6px;
                        color: white;
                        text-decoration: none;
                        transition: background .2s ease;
                        position: relative;
                        // width: calc(100% + 27px);
                        margin-bottom: 6px;
                        &.approved{
                            background-color: rgba(114,51,128, 1);
                        }
                        .event-itemm{
                            span{
                                display: var(--calendar-event-item-title-display);
                            }
                        }
                        .right-placed-actions{
                            position: absolute;
                            top: 2px;
                            right: 4px;
                        }
                    }
                    .warning-sign{
                        position: absolute;
                        display: block;
                        height: 14px;
                        width: 14px;
                        top: 0px;
                        right: 6px;
                        border-radius: 0px 3px 0px 0px;
                        padding: 2px;
                    }
                }
            }
        }
    }
    .week-calendar, .day-calendar{
        .free-slot{
            min-height: var(--min-height-cell, initial)!important;
            padding-bottom: 30px!important;
            .btn-pick{
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
        }
    }
    .list-calendar{
        --status-size: 10px;
        --status-bg: rgba(var(--bg-rgb-not-approved), 1);
        --table-contt-color: #ccc;
        --title-bg: #f1f1f1;
        --td-padding: 7px 10px;
        --text-color: #20232a;
        // --free-time-btn-text-decoration: inherit;
        // --free-time-btn-color: inherit;
        // --pick-btn-display: inline;
        // .event-actions{
        //     .action-approve{
        //         a{
        //             &.disable{
        //                 color: rgba(0,0,0, .5)!important;
        //                 // color: rgba(var(--rgb-warning), 1)!important;
        //                 // background-color: rgba(0,0,0, .1);
        //                 // border: 1px solid red;
        //                 // // background-color: red;
        //                 // border-radius: 50%;
        //             }
        //         }
        //     }
        // }
        table.contt{
            color: var(--text-color, #000);
            width: 100%;
            border-bottom: 1px solid var(--table-contt-color, #ccc);
            border-left: 1px solid var(--table-contt-color, #ccc);
            border-right: 1px solid var(--table-contt-color, #ccc);
            > tbody{
                > tr{
                    > td, > th{
                        border-top: 1px solid var(--table-contt-color, #ccc);
                        // border-bottom: 1px solid #ccc;
                    }
                    &.title{
                        > td{
                            background-color: var(--title-bg, #f1f1f1);
                            padding: var(--td-padding, 5px 10px);
                            .event-weekday, .event-date{
                                color: var(--text-color, #000);
                            }
                            .event-weekday{
                                // float: right;
                                // &:hover{
                                //     text-decoration: underline;
                                // }
                            }
                            .event-date{
                                float: right;
                                // &:hover{
                                //     text-decoration: underline;
                                // }
                            }
                        }
                    }
                    &.event{
                        cursor: default;
                        transition: background-color .3s ease;
                        &:hover{
                            --title-bg: rgba(var(--bg-rgb-not-approved), .2);
                            background-color: var(--title-bg, #f1f1f1);
                        }
                        // &.time-crossing{
                        //     background-color: rgba(var(--rgb-warning), .1);
                        //     --title-bg: rgba(var(--rgb-warning), .3);
                        //     &:hover{
                        //         // --title-bg: rgba(var(--bg-rgb-not-approved), .2);
                        //         background-color: var(--title-bg);
                        //     }
                        // }
                        &.approved{
                            --status-bg: rgba(var(--bg-rgb-approved), 1);
                            --title-bg: rgba(var(--bg-rgb-approved), .2);
                            // &.time-crossing{
                            //     --title-bg: rgba(var(--rgb-warning), .2)!important;
                            // }
                        }
                        &.free{
                            --status-bg: rgba(var(--bg-rgb-free), 1);
                            --title-bg: rgba(var(--bg-rgb-free), .3);
                            &.too-short{
                                --status-bg: rgba(var(--bg-rgb-free-short), 1);
                                --title-bg: rgba(var(--bg-rgb-free-short), .3);
                                .free-time-btn{
                                    text-decoration: none;
                                    color: #999;
                                    cursor: default;
                                }
                                .pick-btn{
                                    display: none;
                                }
                            }
                        }
                        > {
                            td{
                                vertical-align: top;
                                // padding: 3px 6px;
                                padding: var(--td-padding, 5px 10px);
                                &:nth-child(1){
                                    width: 130px;
                                }
                                &:nth-child(2){
                                    width: 30px;
                                    text-align: center;
                                }
                                .status{
                                    width: var(--status-size, 10px);
                                    height: var(--status-size, 10px);
                                    border-radius: 50%;
                                    background-color: var(--status-bg);
                                    display: inline-block;
                                }
                                .free-time-btn{
                                    // display: --free-time-btn-display;
                                    // text-decoration: var(--free-time-btn-text-decoration);
                                    // color: var(--free-time-btn-color);
                                    // --free-time-btn-text-decoration: auto;
                                    // --free-time-btn-color: auto;
                                }
                                .pick-btn{
                                    
                                }
                                .infos{
                                    .info-item{
                                        padding: 0px 6px;
                                        border-radius: 3px;
                                        transition: background-color .3s ease;
                                        // &:hover{
                                        //     background-color: #ccc;
                                        // }
                                        float: left;
                                        // margin-right: 12px;
                                        .vall{
                                            text-transform: uppercase;
                                            &.vall-client{
                                                font-weight: bold;
                                            }
                                        }
                                        .labell{
                                            position: relative;
                                            left: -3px;
                                        }
                                        // &::after { 
                                        //     content: " |";
                                        // }
                                        // &:last-child{
                                        //     &::after { 
                                        //         content: "";
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .moving-event-box, .new-event-box{
        position: fixed;
        z-index: 99999;
        top: 70%;
        left: 100%;
        width: 200px;
        height: 40px;
        line-height: 16px;
        border-radius: 6px 6px 0px 0px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg) translateY(-100%);
        // background-color: red;
        transform-origin: 0% 0%;
        padding-left: 10px;
        padding-top: 6px;
        font-size: 14px;
        white-space: nowrap;
        > .top-title{
            position: absolute;
            top: -10px;
            left: 10px;
            font-size: 11px;
            z-index: 99999;
            text-align: left;
        }
        .itemms{
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg) translate(0%, -100%);
            // background-color: red;
            // background-color: red!important;
            transform-origin: 0% 0%;
            // display: none;
            position: absolute;
            // z-index: 999;
            top: 0px;
            right: 0px;
            margin: 0px!important;
            padding: 0px!important;
            border-radius: 6px 0px 0px 0px;
            .itemm{
                list-style: none;
                display: block;
                height: 40px;
                line-height: 40px;
                width: 40px;
                text-align: center;
                position: relative;
                border: none;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: white;
                    &:hover{
                        background-color: rgba(0,0,0, 0.1);
                    }
                }
            }
        }
    }
}


/* TEMPLATE ASSIGNMENT
******************************************************************/
// .template-assignment{
//     .dropdown-item{
//         &:nth-child(even){
//             background-color: red;
//         }
//     }
// }


/* TEMPLATE ASSIGNMENT
******************************************************************/


/* SPECIFIC ASSIGNMENT
******************************************************************/
.specifics-assignment{
    // background-color: red;
    padding-top: 10px;
    padding-bottom: 20px;
    .specific-dropdown{
        width: 100%;
        // background-color: blue;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
        .dropdown-toggle{
            width: 100%;
        }
        .dropdown-menu{
            width: 100%!important;
            max-height: 200px;
            overflow-y: auto;
        }
    }
}


/* NOTICE BADGES
******************************************************************/
.notice-badges{
    .notice-badge{
        transition: opacity .3s ease;
        width: 22px;
        display: inline-block;
    }
}



/* LANGUAGES PAGE
******************************************************************/
.languages-page{
    padding-top: 20px;
    background-color: #f8f9fa !important;
    padding-left: 10px;
    padding-right: 10px;
    .coll{
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
}



/* CUSTOM CHECKBOX
******************************************************************/
/* Customize the label (the container) */
.custom-checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    line-height: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark{
            background-color: #2196F3;
            &:after {
                display: block;
            }
        }
    }
    /* Create a custom checkbox */
    .checkmark{
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 11px;
            top: 6px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover{
        input ~ .checkmark {
            background-color: #ccc;
        }
    }
}



/* SETTING PAGE
******************************************************************/
.setting-page{
    display: table;
    width: 100%;
    .sp-wrapper{
        display: table-row;
        .sp-itm{
            display: table-cell;
            vertical-align: top;
            &.sp-content{
                // background-color: blue;
                padding-left: 20px;
                // padding-top: 100px;
            }
            &.sp-sidebar{
                width: 200px;
                // background-color: red;
                border-right: 1px solid #ccc;
                ul{
                    padding: 0px;
                    margin: 0px;
                    // border-right: 1px solid #ccc;
                    // padding-right: 20px;
                    li{
                        list-style: none;
                        a{
                            display: block;
                            text-decoration: none;
                            padding: 6px 8px;
                            // background-color: #ccc;
                            // border-radius: 3px 0px 0px 3px;
                            // border-radius: 5px 0px 0px 5px;
                            line-height: 1em;
                            border: 1px solid white;
                            color: rgba(0,0,0,.5);
                            font-weight: bold;
                            &.active{
                                background-color: #e9ecef!important;
                                // color: white;
                                // border-radius: 0px;
                                // border: 2px solid white;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .all-settings{
        .d-table{
            width: 100%;
            .d-table-row{
                .d-table-cell{
                    vertical-align: top;
                    &:first-child{
                        width: 50px;
                    }
                    .setting-title{
                        text-transform: uppercase;
                        font-weight: bold;
                        color: rgba(0,0,0, .8);
                    }
                    ul{
                        padding: 0px;
                        margin: 0px;
                        li{
                            padding: 0px;
                            margin: 0px;
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
    
    /* Setting template specifics
    ******************************************************************/
    .template-specifics{
        .child-specifics{
            padding-left: 20px;
        }
        .alert-item{
            margin-bottom: 6px!important;
            padding: 10px 10px;
            padding-right: 140px;
            .btnnns{
                position: absolute;
                top: 0px;
                right: 0px;
                padding-top: 7px;
                padding-right: 5px;
                .btnnn{
                    float: right;
                    margin-left: 8px;
                }
            }
        }
        .specific-search{
            padding-left: 0px;
            float: left;
            .search-field, .search-btn{
                float: left;
            }
            .search-field{
                padding-right: 5px;
                position: relative;
                input{
                    padding-right: 30px;
                }
                a{
                    position: absolute;
                    top: 0px;
                    right: 5px;
                    display: block;
                    width: 30px;
                    height: 100%;
                    // background-color: red;
                    text-align: center;
                    line-height: 1.8em;
                    color: black;
                }
            }
        }
        .specifics-handles{
            padding-bottom: 10px;
        }
        .specific-modal{
            .specific-parent-dropdown-picker{
                width: 100%;
                .dropdown-toggle{
                    width: 100%;
                }
                .specifics-dropdown-menu{
                    max-height: 200px;
                    overflow-y: auto;
                    width: 100%!important;
                    padding: 0px;
                    ul{
                        padding: 0px;
                        margin: 0px;
                        li{
                            list-style: none;
                            padding: 0px;
                            margin: 0px;
                            // border-bottom: 1px solid #e1e1e1;
                            a.itemm{
                                white-space: normal;
                                // border-bottom: 1px solid #e1e1e1;
                                display: block;
                                color: black;
                                padding: 5px 10px;
                                text-decoration: none;
                                border-bottom: 1px solid #e1e1e1;
                                &:hover{
                                    background-color: #f4f4f4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* Client`s booking calendar main setting
    ******************************************************************/
    .clients-booking-calendar-main-setting{
        background-color: #f8f9fa !important;
        border-radius: 6px;
        margin-top: 10px;
        padding: 10px;
        .form-group-for-checkbox{
            padding: 10px 0px;
            --input-size: 34px;
            input{
                float: left!important;
                display: inline-block;
                width: var(--input-size);
                height: var(--input-size);
                cursor: pointer;
            }
            label{
                line-height: var(--input-size);
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
    
    /* Timezone setting
    ******************************************************************/
    .timezone-picker-page{
        background-color: #f8f9fa !important;
        margin-top: 20px;
        padding: 20px 10px;
        border-radius: 6px;
    }
}


/* EDIT CREATE NAV TABS
******************************************************************/
.edit-create-nav-tabs{
    position: relative;
    border: 0px!important;
    position: relative;
    top: 1px;
    left: 4px;
    z-index: 99;
    li{
        a{
            // border-bottom: 1px solid #f8f9fa!important;
            border: 1px solid #f4f4f4!important;
            // position: relative;
            // top: 6px;
            // background-color: #f8f9fb!important;
            &.active{
                // top: 0px;
                background-color: #f8f9fa!important;
                border-bottom: 1px solid #f8f9fa!important;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f2f2+0,f8f9fa+100 */
                background: #f2f2f2; /* Old browsers */
                background: -moz-linear-gradient(top,  #f2f2f2 0%, #f8f9fa 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f8f9fa 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #f2f2f2 0%,#f8f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f8f9fa',GradientType=0 ); /* IE6-9 */
            }
        }
        &.action-btn{
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .dropdown-menu{
        border-radius: 4px!important;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    // background-color: #f8f9fa!important;
}


/* EDIT CREATE TAB CONTENT
******************************************************************/
.edit-create-tab-content{
    background-color: #f8f9fa!important;
    position: relative;
    // z-index: 99;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    // top: -1px;
    #hours{
        padding-top: 15px;
    }
}


/* BREADCRUMBS
******************************************************************/
.breadcrumb{
    padding: 3px 12px!important;
    border-radius: 0px!important;
    margin-bottom: 0px!important;
    // background-color: rgba(0,0,0, 0.1)!important;
    background-color: #eaecef!important;
    // .breadcrumb-item{
    //     color: rgba(255,255,255, 1)!important;
    //     a{
    //         color: rgba(255,255,255, 0.8)!important;
    //     }
    // }
}


input, textarea, select{
    background-color: #f9f9f9!important;
}


/* EVENT INFO ALERT
******************************************************************/
.event-info-alert{
    padding: 12px 6px 6px!important;
    position: relative;
    .badge-title{
        position: absolute;
        top: -10px;
        left: 10px;
        font-size: 12px;
    }
}


/* CALENDAR NAVBAR
******************************************************************/
.navbarr{
    padding: 6px 6px!important;
    position: relative;
    .disabled-cover{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 9;
        background: rgba(255,255,255, .8);
        text-align: center;
        line-height: 30px;
    }
    .applied-filters{
        padding: 6px 0px;
        
        .titlee{
            border-bottom: 1px solid #999;
            position: relative;
            height: 36px;
            line-height: 36px;
            // background-color: red;
            .applied-filter-close-all{
                position: absolute;
                top: 0px;
                right: 0px;
                .btn-remove-filter{
                    padding: 0px 3px 2px;
                }
            }
        }
        .applied-filter{
            position: relative;
            // border-bottom: 1px solid black;
            .applied-filter-row{
                border-bottom: 1px dashed #999;
                position: relative;
                transition: background-color .3s ease;
                &:hover{
                    background-color: rgba(0,0,0, .1);
                }
                &:last-child{
                    border-bottom: none;
                }
                .applied-filter-close{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    .btn-remove-filter{
                        padding: 0px 3px 2px;
                    }
                }
                .applied-filter-title{
                    float: left;
                    width: 90px;
                    padding-right: 10px;
                    // background-color: red;
                    text-align: right;
                    span{
                        display: block;
                        height: 30px;
                        line-height: 30px;
                        font-weight: bold;
                    }
                }
                .applied-filter-items{
                    // padding-left: 90px;
                    padding-top: 2px;
                    padding-bottom: 0px;
                    float: left;
                    .applied-filter-item{
                        float: left;
                        margin: 0px;
                        margin-right: 4px;
                        margin-top: 4px;
                        position: relative;
                        padding-right: 34px;
                        overflow-x: hidden;
                        .checked-item-close{
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            background-color: rgba(255,255,255, .3);
                            height: 100%;
                            width: 30px;
                            cursor: pointer;
                            transition: background .3s ease;
                            &:hover{
                                background-color: rgba(255,255,255, .2);
                            }
                        }
                    }
                }
            }
        }
    }
}



/* MAIN NAVBAR
******************************************************************/
.main-navbar{
    padding: 0px!important;
    // background-color: rgba(0,0,0, 0.3)!important;
    // border-bottom: 1px solid white;
    .navbar-nav{
        .nav-item{
            a{
                padding: 10px 14px;
            }
            &.active{
                a{
                    background-color: #eaecef!important;
                    // color: rgba(255,255,255, 1)!important;
                }
            }
            .main-navbar-settings{
                margin: 0px;
                padding: 0px;
                width: 100%;
                li{
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    width: 100%;
                    position: relative;
                    // border-top: 1px solid #ccc;
                    // border-bottom: 1px solid #ccc;
                    // &:last-child{
                    //     border-bottom: none;
                    // }
                    a{
                        display: block;
                        width: 100%;
                        padding: 6px 10px;
                        text-decoration: none;
                        &:hover{
                            background-color: #eaecef !important;
                        }
                        .chevr{
                            float: right;
                        }
                    }
                    &:hover{
                        ul{
                            display: block;
                        }
                        > a{
                            background-color: #eaecef !important;
                        }
                    }
                }
                ul{
                    margin: 0px;
                    padding: 0px;
                    display: none;
                    position: absolute;
                    top: 4px;
                    left: 150px;
                    background-color: white;
                    border: 1px solid #ccc;
                    width: 200px;
                    border-radius: 4px;
                    overflow: hidden;
                }
            }
        }
    }
}



/* TEMPLATES LIST
******************************************************************/
.templates-list{
    // #dataTable .actions{
    //     width: 140px!important;
    // }
    // #dataTable .actions .action{
    //     margin-left: 6px;
    // }
    #dataTable{
        .coll-price, .workers-count{
            vertical-align: middle;
            text-align: center!important;
        }
        .actions{
            width: 80px!important;
            .action{
                margin-left: 6px;
            }
        }
    }
    // #dataTable .coll-status .status-circle{
    //     position: relative;
    //     left: 15px;
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     position: relative;
    //     left: 15px;
    // }
    // #dataTable .workers-count div{
    //     position: relative;
    //     left: 13px;
    //     font-weight: bold;
    // }
}



/* DATATABLE ACTION BUTTONS
******************************************************************/
.dataTable{
    .actions{
        
        
        
    }
}

.action-drop{
    .dropdown-menu{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        padding: 4px 10px;
        text-align: center;
        .btnns{
            padding: 10px 0px;
            .btnn{
                margin-right: 20px;
                display: inline-block;
                outline: none;
                border: none!important;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}



/* PAGE ACTIONS
******************************************************************/
.page-actions{
    .page-action{
        position: relative;
        top: 20px!important;
        // padding: 5px 12px;
        svg{
           position: relative;
           top: -2px!important;
       }
   }
}



/* MODAL CUSTOM DARK HEADER FOOTER
******************************************************************/
.modal-custom-dark-header-footer{
    .modal-header{
        padding-right: 50px;
        position: relative;
        .badge-information{
            position: absolute;
            top: -12px;
            left: 10px;
            font-size: 14px!important;
        }
        // .modal-title{
        //     .badge{
        //         cursor: default;
        //         font-size: 14px!important;
        //     }
        // }
        .close{
            font-size: 60px;
            color: #fff;
            opacity: .7;
            transition: opacity .3s ease;
            line-height: .8em;
            padding: 0px;
            margin: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 60px;
            width: 60px;
            span{
                position: absolute;
                top: 0px;
                right: 0px;
                height: 60px;
                width: 60px;
            }
            &:hover{
                color: #fff;
                opacity: 1!important;
            }
        }
    }
    .modal-header, .modal-footer{
        color: white;
        cursor: move;
    }
    .modal-content{
        background-color: #6c757d;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
        -moz-box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
        box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
        .btn-group{
            // position: relative;
            // top: -2px;
            margin-top: -1px;
            border-radius: 0px;
            .btn{
                border-radius: 0px!important;
            }
        }
    }
    .modal-body{
        background-color: white;
    }
}


/* SHOW TABLE
******************************************************************/
table.show-table{
    width: 100%;
    tr{
        &:nth-child(even) {
            background-color: #f2f2f2;
        }
        td, th{
            border: 1px solid #ccc;
            padding: 3px 6px;
        }
        td{
            &:first-child{
                /* background-color: #f1f1f1; */
                width: 140px;
            }
        }
    }
}


/* BUSINESS HOURS
******************************************************************/
#businessHours{
    .card-body{
        padding: 0px;
        table{
            width: 100%;
            tr{
                &.end td{
                    padding-bottom: 10px;
                }
                &.start td{
                    padding-top: 10px;
                }
                td{
                    background-color: rgba(0,0,0,.03);
                    &:nth-child(1){
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }
            tr.end:nth-child(4n-2), tr.start:nth-child(4n-3){
                td{
                    background-color: #ffffff;
                }
            }
        }
    }
}