/* MAIN
******************************************************************/
.page-content{
    padding-top: 20px;
}


/* SETTING PAGE
******************************************************************/
.setting-page{
    display: table;
    width: 100%;
    .sp-wrapper{
        display: table-row;
        .sp-itm{
            display: table-cell;
            &.sp-content{
                // background-color: blue;
                padding-left: 20px;
            }
            &.sp-sidebar{
                width: 240px;
                // background-color: red;
                ul{
                    padding: 0px;
                    margin: 0px;
                    border-right: 1px solid #ccc;
                    // padding-right: 20px;
                    li{
                        list-style: none;
                        a{
                            display: block;
                            text-decoration: none;
                            padding: 3px 8px;
                        }
                    }
                }
            }
        }
    }
}


/* EDIT CREATE NAV TABS
******************************************************************/
.edit-create-nav-tabs{
    position: relative;
    border: 0px!important;
    position: relative;
    // top: 1px;
    z-index: 99;
    li{
        a{
            // border-bottom: 1px solid #f8f9fa!important;
            &.active{
                background-color: #f8f9fa!important;
                border-bottom: 1px solid #f8f9fa!important;
            }
        }
        &.action-btn{
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .dropdown-menu{
        border-radius: 4px!important;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    // background-color: #f8f9fa!important;
}


/* EDIT CREATE TAB CONTENT
******************************************************************/
.edit-create-tab-content{
    background-color: #f8f9fa!important;
    position: relative;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    // top: -1px;
    #hours{
        padding-top: 15px;
    }
}


/* BREADCRUMBS
******************************************************************/
.breadcrumb{
    padding: 3px 12px!important;
    border-radius: 0px!important;
    margin-bottom: 0px!important;
}


input, textarea, select{
    background-color: #f9f9f9!important;
}

.page-actions .page-action svg{
    position: relative;
    top: -2px!important;
}


/* MODAL CUSTOM DARK HEADER FOOTER
******************************************************************/
.modal-custom-dark-header-footer{
    .modal-header{
        padding-right: 50px;
        .close{
            font-size: 60px;
            color: #fff;
            opacity: .7;
            transition: opacity .3s ease;
            line-height: .8em;
            padding: 0px;
            margin: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 60px;
            width: 60px;
            span{
                position: absolute;
                top: 0px;
                right: 0px;
                height: 60px;
                width: 60px;
            }
            &:hover{
                color: #fff;
                opacity: 1!important;
            }
        }
    }
    .modal-header, .modal-footer{
        color: white;
    }
    .modal-content{
        background-color: #6c757d;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
-moz-box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
box-shadow: 0px 0px 3px 0px rgba(190,229,235, 0.7);
    }
    .modal-body{
        background-color: white;
    }
}


/* SHOW TABLE
******************************************************************/
table.show-table{
    width: 100%;
    tr{
        &:nth-child(even) {
            background-color: #f2f2f2;
        }
        td, th{
            border: 1px solid #ccc;
            padding: 3px 6px;
        }
        td{
            &:first-child{
                /* background-color: #f1f1f1; */
                width: 140px;
            }
        }
    }
}


/* BUSINESS HOURS
******************************************************************/
#businessHours{
    .card-body{
        padding: 0px;
        table{
            width: 100%;
            tr{
                &.end td{
                    padding-bottom: 10px;
                }
                &.start td{
                    padding-top: 10px;
                }
                td{
                    background-color: rgba(0,0,0,.03);
                    &:nth-child(1){
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }
            tr.end:nth-child(4n-2), tr.start:nth-child(4n-3){
                td{
                    background-color: #ffffff;
                }
            }
        }
    }
}