/* MAIN
******************************************************************/

.page-content {
  padding-top: 20px;
}

.show {
  transition: opacity 150ms !important;
}

/* HOME PAGE
******************************************************************/

.home-page .card {
  margin-bottom: 20px;
}

:root {
  --background-opacity: 1;
  --background-color: rgba(0,0,0, var(--background-opacity, 0));
  --bg-rgb-approved: 114, 51, 128;
  --bg-rgb-not-approved: 207, 88, 44;
  --bg-rgb-free: 89, 163, 75;
  --bg-rgb-free-short: 238, 220, 151;
  --rgb-warning: 255, 193, 7;
}

.bg-approved {
  background-color: #723380 !important;
}

.bg-not-approved {
  background-color: #cf582c !important;
}

/* BUTTONS
******************************************************************/

.btn-approved {
  background-color: rgba(var(--bg-rgb-approved), 1) !important;
  border-color: rgba(var(--bg-rgb-approved), 1) !important;
  color: white !important;
}

.btn-approved:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--bg-rgb-approved), 0.5) !important;
}

.btn-secondary-custom {
  background-color: rgba(108, 117, 125, 0.5) !important;
  color: white !important;
}

.btn-secondary-custom:focus {
  border-color: rgba(84, 91, 98, 0.3) !important;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.3) !important;
}

.btn-info-custom {
  background-color: rgba(19, 132, 150, 0.8) !important;
  color: white !important;
}

.btn-info-custom:focus {
  border-color: rgba(17, 122, 139, 0.2) !important;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.3) !important;
}

.btn-success-custom {
  background-color: rgba(40, 167, 69, 0.8) !important;
  color: white !important;
}

.btn-success-custom:focus {
  border-color: rgba(30, 126, 52, 0.2) !important;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.3) !important;
}

.for-show-more-events-btn {
  padding-right: 4px;
  padding-bottom: 6px;
}

.for-show-more-events-btn .show-more-events-btn {
  float: right;
  font-size: 12px !important;
}

/* INFO NAVBAR
******************************************************************/

.info-navbarr {
  position: relative;
  font-size: 14px;
  color: white !important;
}

.info-navbarr .btn-actions {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
  height: 100%;
  max-height: 64px;
  width: 30px;
  border-radius: 0px 3px 3px 0px;
  overflow: hidden;
}

.info-navbarr .btn-actions .btn-action {
  display: block;
  height: 49.9%;
  width: 100%;
  text-align: center;
  line-height: 28px;
  color: white;
}

.info-navbarr .btn-actions .btn-action:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.info-navbarr .top-title {
  position: absolute;
  top: -13px;
  left: 10px;
  font-size: 12px;
  padding: 4px 8px !important;
}

/* TOOLTIPS
******************************************************************/

.tooltip-moving-event-box-edit-btn,
.tooltip-moving-event-box-close-btn {
  z-index: 99999 !important;
}

.tooltip-moving-event-box-info-btn {
  left: 15px !important;
  z-index: 99999 !important;
}

.tooltip-moving-event-info {
  text-align: left;
}

.tooltip-moving-event-info hr {
  padding: 0px;
  margin: 6px 0px;
  color: white;
  background-color: white;
}

.tooltip-moving-event-info .d-table {
  width: 100%;
}

.tooltip-moving-event-info .d-table .d-table-cell:first-child {
  width: 50px;
  text-align: right;
}

.tooltip-moving-event-info .d-table .d-table-cell:last-child {
  padding-left: 4px;
}

/* CALENDAR ALL BOOKINGS
******************************************************************/

:root {
  --calendar-event-item-title-display: inline;
}

@media all and (max-width: 1000px) {
  .calendar-all-bookings .month-calendar,
  .calendar-all-bookings .week-calendar {
    --calendar-event-item-title-display: none;
  }
}

@media all and (max-width: 350px) {
  .calendar-all-bookings .day-calendar,
  .calendar-all-bookings .list-calendar {
    --calendar-event-item-title-display: none;
  }
}

.modal-counters {
  font-size: 12px;
  padding-left: 4px;
  padding-top: 6px;
  line-height: 14px;
  transition: opacity 0.3s ease;
  display: block;
}

.modal-counters ul {
  padding: 0px;
  margin: 0px;
}

.modal-counters ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
  margin-right: 6px;
}

.modal-counters ul li span {
  cursor: default;
}

.modal-counters ul li span.badge-counter-total {
  background-color: #17a2b8 !important;
  color: white;
}

.modal-counters ul li span.badge-counter-approved {
  background-color: #723380;
  color: white;
}

.modal-counters ul li span.badge-counter-not-approved {
  background-color: #cf582c;
  color: white;
}

/* MODAL FILTERS
******************************************************************/

.modal-filters .modal-header .btn-group .btn:first-child,
.modal-filters .modal-body .btn-group .btn:first-child,
.modal-filters .modal-footer .btn-group .btn:first-child {
  border-radius: 3px 0px 0px 3px !important;
}

.modal-filters .modal-header .btn-group .btn:last-child,
.modal-filters .modal-body .btn-group .btn:last-child,
.modal-filters .modal-footer .btn-group .btn:last-child {
  border-radius: 0px 3px 3px 0px !important;
}

.modal-filters .modal-header .btn-group .btn:only-child,
.modal-filters .modal-body .btn-group .btn:only-child,
.modal-filters .modal-footer .btn-group .btn:only-child {
  border-radius: 3px 3px 3px 3px !important;
}

.modal-filters .modal-body .filter-block {
  margin-bottom: 16px;
  transition: box-shadow 0.2s ease;
}

.modal-filters .modal-body .filter-block:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

.modal-filters .modal-body .filter-block:last-child {
  margin-bottom: 0px;
}

.modal-filters .modal-body .filter-block:only-child {
  margin-bottom: 16px;
}

/* MODAL MORE EVENTS
******************************************************************/

.modal-more-events .modal-title .modal-counters .badge {
  font-size: 12px !important;
}

.modal-events {
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding: 4px;
  max-height: 200px;
  overflow: auto;
}

.modal-events .free-slot {
  display: block;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.5);
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
  transition: background 0.2s ease;
  margin-bottom: 6px;
  cursor: pointer;
}

.modal-events .modal-event {
  display: block;
  width: 100%;
  /* margin-bottom: 3px; */
  border-radius: 3px;
  font-size: 12px;
  padding: 14px 6px 2px;
  color: white;
  text-decoration: none;
  transition: background 0.2s ease;
  position: relative;
  margin-top: 12px;
}

.modal-events .modal-event .badge-time {
  position: absolute;
  top: -6px;
  left: 6px;
  font-size: 12px;
  font-weight: normal;
}

.modal-events .modal-event.approved {
  background-color: #723380;
}

.modal-events .modal-event.not-approved {
  background-color: #cf582c;
}

.modal-events .modal-event .time-crossing {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  top: 0px;
  right: 6px;
  border-radius: 0px 3px 0px 0px;
  padding: 2px;
}

.event-actions {
  --background-color: rgba(0,0,0, 0);
  --hover-background-color: rgba(0,0,0, .3);
  --dropdown-menu-min-width: 0px;
  --dropdown-menu-text-align: left;
  --item-size: 20px;
  --item-float: left;
  --item-disable-color: rgba(255,255,255, .2);
  --disabled-drop-menu-items-text-decoration: none;
  height: 20px;
}

.event-actions.disabled-items-with-line-through {
  --item-disable-color: var(--action-color, white);
}

.event-actions.disabled-drop-menu-items-with-line-through {
  --disabled-drop-menu-items-text-decoration: line-through;
}

.event-actions .line-through {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: black;
  margin: auto !important;
  background-color: var(--action-color, white);
}

.event-actions.bigger {
  --item-size: 30px;
}

.event-actions.without-hover-bg {
  --hover-background-color: rgba(0,0,0, 0);
}

.event-actions.size-middle {
  --item-size: 25px;
}

.event-actions.right-placed {
  --item-float: none;
}

.event-actions ul {
  padding: 0px !important;
  margin: 0px !important;
}

.event-actions ul li {
  float: var(--item-float);
  width: var(--item-size);
  height: var(--item-size);
  text-align: center;
  transition: background-color 0.3s ease;
  list-style: none;
}

.event-actions ul li a {
  position: relative;
  color: var(--action-color, white);
  display: block;
  height: var(--item-size);
  width: var(--item-size);
  line-height: calc(var(--item-size) - 15%);
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

.event-actions ul li a:hover {
  --background-color: var(--hover-background-color);
}

.event-actions ul li a.action-loader {
  padding-top: 3px;
  padding-left: 3px;
}

.event-actions ul li a.action-loader:hover {
  background: none !important;
}

.event-actions ul li a.disable {
  color: var(--item-disable-color) !important;
}

.event-actions ul li a.disable:hover {
  background: none !important;
}

.event-actions .action-remove {
  --dropdown-menu-min-width: 150px;
  --dropdown-menu-text-align: center;
}

.event-actions .action-drop {
  height: 100%;
  width: 100%;
}

.event-actions .action-drop.show {
  --background-color: var(--hover-background-color);
}

.event-actions .action-drop .dropdown-menu {
  text-align: var(--dropdown-menu-text-align);
  width: auto !important;
  min-width: var(--dropdown-menu-min-width);
}

.event-actions .action-drop .dropdown-menu .btnns {
  padding: 5px 0px !important;
  width: 101px;
  margin: auto;
}

.event-actions .action-drop .dropdown-menu .btnns a.btnn {
  width: 50px;
  display: block;
  float: left !important;
  margin: 0px !important;
  background: none;
}

.event-actions .action-drop .dropdown-menu .itemms a {
  display: inline !important;
  color: black !important;
  padding: 0px !important;
  margin: 0px !important;
  text-align: left;
  background: none;
  font-weight: normal;
  font-size: 14px;
}

.event-actions .action-drop .dropdown-menu .itemms a:hover {
  text-decoration: underline;
}

.event-actions .action-drop .dropdown-menu .itemms a.disable {
  color: #999 !important;
  -webkit-text-decoration: var(--disabled-drop-menu-items-text-decoration, none) !important;
          text-decoration: var(--disabled-drop-menu-items-text-decoration, none) !important;
}

.event-actions .action-drop .dropdown-menu .itemms a .action-info {
  position: relative;
  top: -2px;
}

.event-actions .action-drop .dropdown-menu .action-date-time-current-day {
  line-height: 14px !important;
}

.event-actions .action-drop .dropdown-menu .action-date-time-current-day .dropdown-item {
  display: block !important;
  padding-top: 5px !important;
  padding-bottom: 3px !important;
  line-height: 14px !important;
}

.calendar-all-bookings .for-slot {
  padding-left: 30px;
  padding-right: 4px;
  padding-top: 4px;
}

.calendar-all-bookings .for-slot .slot {
  display: block;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
  transition: background 0.2s ease;
  margin-bottom: 6px;
}

.calendar-all-bookings .for-slot .opened-slot {
  background-color: #549fb7;
  color: white;
}

.calendar-all-bookings .week-calendar .for-closed-slot,
.calendar-all-bookings .day-calendar .for-closed-slot {
  padding-left: 4px;
}

.calendar-all-bookings .week-calendar .for-slot,
.calendar-all-bookings .day-calendar .for-slot {
  padding-left: 4px;
}

.calendar-all-bookings .for-closed-slot {
  padding-left: 30px;
  padding-right: 4px;
  padding-top: 4px;
}

.calendar-all-bookings .for-closed-slot .closed-slot {
  display: block;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
  transition: background 0.2s ease;
  margin-bottom: 6px;
}

.calendar-all-bookings .cell-placeholder {
  padding: 6px;
}

.calendar-all-bookings .month-calendar,
.calendar-all-bookings .week-calendar {
  min-width: 800px;
}

.calendar-all-bookings .month-calendar,
.calendar-all-bookings .week-calendar,
.calendar-all-bookings .day-calendar,
.calendar-all-bookings .list-calendar {
  padding-top: 10px !important;
}

.calendar-all-bookings .week-calendar .weekday-title a {
  color: #333;
}

.calendar-all-bookings .month-calendar table,
.calendar-all-bookings .week-calendar table,
.calendar-all-bookings .day-calendar table {
  width: 100%;
}

.calendar-all-bookings .month-calendar table td,
.calendar-all-bookings .month-calendar table th,
.calendar-all-bookings .week-calendar table td,
.calendar-all-bookings .week-calendar table th,
.calendar-all-bookings .day-calendar table td,
.calendar-all-bookings .day-calendar table th {
  border: 1px solid #ccc;
}

.calendar-all-bookings .month-calendar table th,
.calendar-all-bookings .week-calendar table th,
.calendar-all-bookings .day-calendar table th {
  text-align: center;
}

.calendar-all-bookings .month-calendar table td,
.calendar-all-bookings .week-calendar table td,
.calendar-all-bookings .day-calendar table td {
  width: 14.25%;
  vertical-align: top;
}

.calendar-all-bookings .month-calendar table td:hover .counters,
.calendar-all-bookings .week-calendar table td:hover .counters,
.calendar-all-bookings .day-calendar table td:hover .counters {
  opacity: 1;
}

.calendar-all-bookings .month-calendar table td.weekend,
.calendar-all-bookings .week-calendar table td.weekend,
.calendar-all-bookings .day-calendar table td.weekend {
  background-color: rgba(255, 0, 0, 0.1);
}

.calendar-all-bookings .month-calendar table td .cell-content,
.calendar-all-bookings .week-calendar table td .cell-content,
.calendar-all-bookings .day-calendar table td .cell-content {
  min-height: 80px !important;
  position: relative;
}

.calendar-all-bookings .month-calendar table td .cell-content .day,
.calendar-all-bookings .week-calendar table td .cell-content .day,
.calendar-all-bookings .day-calendar table td .cell-content .day {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  padding: 0px 4px;
  border-radius: 50%;
  color: #333;
  z-index: 9;
  cursor: pointer;
}

.calendar-all-bookings .month-calendar table td .cell-content .day:hover,
.calendar-all-bookings .week-calendar table td .cell-content .day:hover,
.calendar-all-bookings .day-calendar table td .cell-content .day:hover {
  text-decoration: underline;
}

.calendar-all-bookings .month-calendar table td .cell-content .day.not-period,
.calendar-all-bookings .week-calendar table td .cell-content .day.not-period,
.calendar-all-bookings .day-calendar table td .cell-content .day.not-period {
  opacity: 0.5;
}

.calendar-all-bookings .month-calendar table tr.divider td,
.calendar-all-bookings .week-calendar table tr.divider td,
.calendar-all-bookings .day-calendar table tr.divider td {
  height: 10px;
  background-color: #6c757d;
}

.calendar-all-bookings .month-calendar .day.not-period,
.calendar-all-bookings .week-calendar .day.not-period,
.calendar-all-bookings .day-calendar .day.not-period {
  color: #999;
}

.calendar-all-bookings .month-calendar .current-day,
.calendar-all-bookings .week-calendar .current-day,
.calendar-all-bookings .day-calendar .current-day {
  background-color: rgba(8, 232, 222, 0.3) !important;
}

.calendar-all-bookings .month-calendar .booking,
.calendar-all-bookings .week-calendar .booking,
.calendar-all-bookings .day-calendar .booking {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.calendar-all-bookings .month-calendar .counters,
.calendar-all-bookings .week-calendar .counters,
.calendar-all-bookings .day-calendar .counters {
  --counters-font-size: 12px;
  --counters-padding-top: 26px;
  --counters-padding-left: 4px;
  --counters-line-height: 14px;
  --counters-opacity: .4;
  width: 26px;
  position: absolute;
  top: var(--counters-padding-top, 26px);
  font-size: var(--counters-font-size, 12px);
  padding-left: var(--counters-padding-left, 4px);
  line-height: var(--counters-line-height, 14px);
  opacity: var(--counters-opacity, 0.4);
  transition: opacity 0.3s ease;
}

.calendar-all-bookings .month-calendar .counters.counters-to-top,
.calendar-all-bookings .week-calendar .counters.counters-to-top,
.calendar-all-bookings .day-calendar .counters.counters-to-top {
  --counters-padding-top: 4px;
}

.calendar-all-bookings .month-calendar .counters.counters-dis-transparency,
.calendar-all-bookings .week-calendar .counters.counters-dis-transparency,
.calendar-all-bookings .day-calendar .counters.counters-dis-transparency {
  --counters-opacity: 1;
}

.calendar-all-bookings .month-calendar .counters.counters-bigger,
.calendar-all-bookings .week-calendar .counters.counters-bigger,
.calendar-all-bookings .day-calendar .counters.counters-bigger {
  --counters-font-size: 18px;
  --counters-line-height: 20px;
  --counters-padding-left: 2px;
}

.calendar-all-bookings .month-calendar .counters ul,
.calendar-all-bookings .week-calendar .counters ul,
.calendar-all-bookings .day-calendar .counters ul {
  padding: 0px;
  margin: 0px;
}

.calendar-all-bookings .month-calendar .counters ul li,
.calendar-all-bookings .week-calendar .counters ul li,
.calendar-all-bookings .day-calendar .counters ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.calendar-all-bookings .month-calendar .counters ul li span,
.calendar-all-bookings .week-calendar .counters ul li span,
.calendar-all-bookings .day-calendar .counters ul li span {
  cursor: pointer;
}

.calendar-all-bookings .month-calendar .counters ul li span.badge-counter-total,
.calendar-all-bookings .week-calendar .counters ul li span.badge-counter-total,
.calendar-all-bookings .day-calendar .counters ul li span.badge-counter-total {
  background-color: #17a2b8 !important;
  color: white;
}

.calendar-all-bookings .month-calendar .counters ul li span.badge-counter-approved,
.calendar-all-bookings .week-calendar .counters ul li span.badge-counter-approved,
.calendar-all-bookings .day-calendar .counters ul li span.badge-counter-approved {
  background-color: #723380;
  color: white;
}

.calendar-all-bookings .month-calendar .counters ul li span.badge-counter-not-approved,
.calendar-all-bookings .week-calendar .counters ul li span.badge-counter-not-approved,
.calendar-all-bookings .day-calendar .counters ul li span.badge-counter-not-approved {
  background-color: #cf582c;
  color: white;
}

.calendar-all-bookings .month-calendar .events,
.calendar-all-bookings .week-calendar .events,
.calendar-all-bookings .day-calendar .events {
  --events-padding-left: 40px;
  --min-height-cell: initial;
  padding-left: var(--events-padding-left, 40px);
  padding-right: 14px;
  padding-top: 4px;
  width: 100%;
}

.calendar-all-bookings .month-calendar .events.min-height-cell,
.calendar-all-bookings .week-calendar .events.min-height-cell,
.calendar-all-bookings .day-calendar .events.min-height-cell {
  --min-height-cell: 86px;
}

.calendar-all-bookings .month-calendar .events.remove-padding-left,
.calendar-all-bookings .week-calendar .events.remove-padding-left,
.calendar-all-bookings .day-calendar .events.remove-padding-left {
  --events-padding-left: 14px;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events,
.calendar-all-bookings .week-calendar .events .for-events .if-events,
.calendar-all-bookings .day-calendar .events .for-events .if-events {
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .free-slot,
.calendar-all-bookings .week-calendar .events .for-events .if-events .free-slot,
.calendar-all-bookings .day-calendar .events .for-events .if-events .free-slot {
  --btn-pick-text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.5);
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
  transition: background 0.2s ease;
  margin-bottom: 6px;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .free-slot.too-short,
.calendar-all-bookings .week-calendar .events .for-events .if-events .free-slot.too-short,
.calendar-all-bookings .day-calendar .events .for-events .if-events .free-slot.too-short {
  background-color: rgba(242, 195, 42, 0.5);
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .free-slot .cover-cell-btn,
.calendar-all-bookings .week-calendar .events .for-events .if-events .free-slot .cover-cell-btn,
.calendar-all-bookings .day-calendar .events .for-events .if-events .free-slot .cover-cell-btn {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .free-slot .btn-pick,
.calendar-all-bookings .week-calendar .events .for-events .if-events .free-slot .btn-pick,
.calendar-all-bookings .day-calendar .events .for-events .if-events .free-slot .btn-pick {
  -webkit-text-decoration: var(--btn-pick-text-decoration);
          text-decoration: var(--btn-pick-text-decoration);
  width: 100%;
  border: none;
  outline: none;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .free-slot .btn-pick:hover,
.calendar-all-bookings .week-calendar .events .for-events .if-events .free-slot .btn-pick:hover,
.calendar-all-bookings .day-calendar .events .for-events .if-events .free-slot .btn-pick:hover {
  --btn-pick-text-decoration: underline;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .free-slot .btn-pick:focus,
.calendar-all-bookings .week-calendar .events .for-events .if-events .free-slot .btn-pick:focus,
.calendar-all-bookings .day-calendar .events .for-events .if-events .free-slot .btn-pick:focus {
  box-shadow: none !important;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .event,
.calendar-all-bookings .week-calendar .events .for-events .if-events .event,
.calendar-all-bookings .day-calendar .events .for-events .if-events .event {
  background-color: red;
  display: block;
  width: 100%;
  min-height: var(--min-height-cell, initial);
  background-color: #cf582c;
  /* margin-bottom: 3px; */
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: white;
  text-decoration: none;
  transition: background 0.2s ease;
  position: relative;
  margin-bottom: 6px;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .event.approved,
.calendar-all-bookings .week-calendar .events .for-events .if-events .event.approved,
.calendar-all-bookings .day-calendar .events .for-events .if-events .event.approved {
  background-color: #723380;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .event .event-itemm span,
.calendar-all-bookings .week-calendar .events .for-events .if-events .event .event-itemm span,
.calendar-all-bookings .day-calendar .events .for-events .if-events .event .event-itemm span {
  display: var(--calendar-event-item-title-display);
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .event .right-placed-actions,
.calendar-all-bookings .week-calendar .events .for-events .if-events .event .right-placed-actions,
.calendar-all-bookings .day-calendar .events .for-events .if-events .event .right-placed-actions {
  position: absolute;
  top: 2px;
  right: 4px;
}

.calendar-all-bookings .month-calendar .events .for-events .if-events .warning-sign,
.calendar-all-bookings .week-calendar .events .for-events .if-events .warning-sign,
.calendar-all-bookings .day-calendar .events .for-events .if-events .warning-sign {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  top: 0px;
  right: 6px;
  border-radius: 0px 3px 0px 0px;
  padding: 2px;
}

.calendar-all-bookings .week-calendar .free-slot,
.calendar-all-bookings .day-calendar .free-slot {
  min-height: var(--min-height-cell, initial) !important;
  padding-bottom: 30px !important;
}

.calendar-all-bookings .week-calendar .free-slot .btn-pick,
.calendar-all-bookings .day-calendar .free-slot .btn-pick {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.calendar-all-bookings .list-calendar {
  --status-size: 10px;
  --status-bg: rgba(var(--bg-rgb-not-approved), 1);
  --table-contt-color: #ccc;
  --title-bg: #f1f1f1;
  --td-padding: 7px 10px;
  --text-color: #20232a;
}

.calendar-all-bookings .list-calendar table.contt {
  color: var(--text-color, #000);
  width: 100%;
  border-bottom: 1px solid var(--table-contt-color, #ccc);
  border-left: 1px solid var(--table-contt-color, #ccc);
  border-right: 1px solid var(--table-contt-color, #ccc);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr > td,
.calendar-all-bookings .list-calendar table.contt > tbody > tr > th {
  border-top: 1px solid var(--table-contt-color, #ccc);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.title > td {
  background-color: var(--title-bg, #f1f1f1);
  padding: var(--td-padding, 5px 10px);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.title > td .event-weekday,
.calendar-all-bookings .list-calendar table.contt > tbody > tr.title > td .event-date {
  color: var(--text-color, #000);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.title > td .event-date {
  float: right;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event {
  cursor: default;
  transition: background-color 0.3s ease;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event:hover {
  --title-bg: rgba(var(--bg-rgb-not-approved), .2);
  background-color: var(--title-bg, #f1f1f1);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event.approved {
  --status-bg: rgba(var(--bg-rgb-approved), 1);
  --title-bg: rgba(var(--bg-rgb-approved), .2);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event.free {
  --status-bg: rgba(var(--bg-rgb-free), 1);
  --title-bg: rgba(var(--bg-rgb-free), .3);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event.free.too-short {
  --status-bg: rgba(var(--bg-rgb-free-short), 1);
  --title-bg: rgba(var(--bg-rgb-free-short), .3);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event.free.too-short .free-time-btn {
  text-decoration: none;
  color: #999;
  cursor: default;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event.free.too-short .pick-btn {
  display: none;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td {
  vertical-align: top;
  padding: var(--td-padding, 5px 10px);
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td:nth-child(1) {
  width: 130px;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td:nth-child(2) {
  width: 30px;
  text-align: center;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td .status {
  width: var(--status-size, 10px);
  height: var(--status-size, 10px);
  border-radius: 50%;
  background-color: var(--status-bg);
  display: inline-block;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td .infos .info-item {
  padding: 0px 6px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  float: left;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td .infos .info-item .vall {
  text-transform: uppercase;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td .infos .info-item .vall.vall-client {
  font-weight: bold;
}

.calendar-all-bookings .list-calendar table.contt > tbody > tr.event > td .infos .info-item .labell {
  position: relative;
  left: -3px;
}

.calendar-all-bookings .moving-event-box,
.calendar-all-bookings .new-event-box {
  position: fixed;
  z-index: 99999;
  top: 70%;
  left: 100%;
  width: 200px;
  height: 40px;
  line-height: 16px;
  border-radius: 6px 6px 0px 0px;
  transform: rotate(-90deg) translateY(-100%);
  transform-origin: 0% 0%;
  padding-left: 10px;
  padding-top: 6px;
  font-size: 14px;
  white-space: nowrap;
}

.calendar-all-bookings .moving-event-box > .top-title,
.calendar-all-bookings .new-event-box > .top-title {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 11px;
  z-index: 99999;
  text-align: left;
}

.calendar-all-bookings .moving-event-box .itemms,
.calendar-all-bookings .new-event-box .itemms {
  transform: rotate(90deg) translate(0%, -100%);
  transform-origin: 0% 0%;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 6px 0px 0px 0px;
}

.calendar-all-bookings .moving-event-box .itemms .itemm,
.calendar-all-bookings .new-event-box .itemms .itemm {
  list-style: none;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  position: relative;
  border: none;
}

.calendar-all-bookings .moving-event-box .itemms .itemm a,
.calendar-all-bookings .new-event-box .itemms .itemm a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}

.calendar-all-bookings .moving-event-box .itemms .itemm a:hover,
.calendar-all-bookings .new-event-box .itemms .itemm a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* TEMPLATE ASSIGNMENT
******************************************************************/

/* TEMPLATE ASSIGNMENT
******************************************************************/

/* SPECIFIC ASSIGNMENT
******************************************************************/

.specifics-assignment {
  padding-top: 10px;
  padding-bottom: 20px;
}

.specifics-assignment .specific-dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.specifics-assignment .specific-dropdown:last-child {
  margin-bottom: 0px;
}

.specifics-assignment .specific-dropdown .dropdown-toggle {
  width: 100%;
}

.specifics-assignment .specific-dropdown .dropdown-menu {
  width: 100% !important;
  max-height: 200px;
  overflow-y: auto;
}

/* NOTICE BADGES
******************************************************************/

.notice-badges .notice-badge {
  transition: opacity 0.3s ease;
  width: 22px;
  display: inline-block;
}

/* LANGUAGES PAGE
******************************************************************/

.languages-page {
  padding-top: 20px;
  background-color: #f8f9fa !important;
  padding-left: 10px;
  padding-right: 10px;
}

.languages-page .coll {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

/* CUSTOM CHECKBOX
******************************************************************/

/* Customize the label (the container) */

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* SETTING PAGE
******************************************************************/

.setting-page {
  display: table;
  width: 100%;
  /* Setting template specifics
  ******************************************************************/
  /* Client`s booking calendar main setting
  ******************************************************************/
  /* Timezone setting
  ******************************************************************/
}

.setting-page .sp-wrapper {
  display: table-row;
}

.setting-page .sp-wrapper .sp-itm {
  display: table-cell;
  vertical-align: top;
}

.setting-page .sp-wrapper .sp-itm.sp-content {
  padding-left: 20px;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul {
  padding: 0px;
  margin: 0px;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li {
  list-style: none;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li a {
  display: block;
  text-decoration: none;
  padding: 6px 8px;
  line-height: 1em;
  border: 1px solid white;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li a.active {
  background-color: #e9ecef !important;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li a:hover {
  text-decoration: underline;
}

.setting-page .all-settings .d-table {
  width: 100%;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell {
  vertical-align: top;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell:first-child {
  width: 50px;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell .setting-title {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell ul {
  padding: 0px;
  margin: 0px;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell ul li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.setting-page .template-specifics .child-specifics {
  padding-left: 20px;
}

.setting-page .template-specifics .alert-item {
  margin-bottom: 6px !important;
  padding: 10px 10px;
  padding-right: 140px;
}

.setting-page .template-specifics .alert-item .btnnns {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 7px;
  padding-right: 5px;
}

.setting-page .template-specifics .alert-item .btnnns .btnnn {
  float: right;
  margin-left: 8px;
}

.setting-page .template-specifics .specific-search {
  padding-left: 0px;
  float: left;
}

.setting-page .template-specifics .specific-search .search-field,
.setting-page .template-specifics .specific-search .search-btn {
  float: left;
}

.setting-page .template-specifics .specific-search .search-field {
  padding-right: 5px;
  position: relative;
}

.setting-page .template-specifics .specific-search .search-field input {
  padding-right: 30px;
}

.setting-page .template-specifics .specific-search .search-field a {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 1.8em;
  color: black;
}

.setting-page .template-specifics .specifics-handles {
  padding-bottom: 10px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker {
  width: 100%;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .dropdown-toggle {
  width: 100%;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  width: 100% !important;
  padding: 0px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul {
  padding: 0px;
  margin: 0px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul li a.itemm {
  white-space: normal;
  display: block;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 1px solid #e1e1e1;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul li a.itemm:hover {
  background-color: #f4f4f4;
}

.setting-page .clients-booking-calendar-main-setting {
  background-color: #f8f9fa !important;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
}

.setting-page .clients-booking-calendar-main-setting .form-group-for-checkbox {
  padding: 10px 0px;
  --input-size: 34px;
}

.setting-page .clients-booking-calendar-main-setting .form-group-for-checkbox input {
  float: left !important;
  display: inline-block;
  width: var(--input-size);
  height: var(--input-size);
  cursor: pointer;
}

.setting-page .clients-booking-calendar-main-setting .form-group-for-checkbox label {
  line-height: var(--input-size);
  padding-left: 10px;
  cursor: pointer;
}

.setting-page .timezone-picker-page {
  background-color: #f8f9fa !important;
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 6px;
}

/* EDIT CREATE NAV TABS
******************************************************************/

.edit-create-nav-tabs {
  position: relative;
  border: 0px !important;
  position: relative;
  top: 1px;
  left: 4px;
  z-index: 99;
}

.edit-create-nav-tabs li a {
  border: 1px solid #f4f4f4 !important;
}

.edit-create-nav-tabs li a.active {
  background-color: #f8f9fa !important;
  border-bottom: 1px solid #f8f9fa !important;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f2f2+0,f8f9fa+100 */
  background: #f2f2f2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%, #f8f9fa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#f8f9fa",GradientType=0 );
  /* IE6-9 */
}

.edit-create-nav-tabs li.action-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.edit-create-nav-tabs .dropdown-menu {
  border-radius: 4px !important;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/* EDIT CREATE TAB CONTENT
******************************************************************/

.edit-create-tab-content {
  background-color: #f8f9fa !important;
  position: relative;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
}

.edit-create-tab-content #hours {
  padding-top: 15px;
}

/* BREADCRUMBS
******************************************************************/

.breadcrumb {
  padding: 3px 12px !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  background-color: #eaecef !important;
}

input,
textarea,
select {
  background-color: #f9f9f9 !important;
}

/* EVENT INFO ALERT
******************************************************************/

.event-info-alert {
  padding: 12px 6px 6px !important;
  position: relative;
}

.event-info-alert .badge-title {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
}

/* CALENDAR NAVBAR
******************************************************************/

.navbarr {
  padding: 6px 6px !important;
  position: relative;
}

.navbarr .disabled-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 30px;
}

.navbarr .applied-filters {
  padding: 6px 0px;
}

.navbarr .applied-filters .titlee {
  border-bottom: 1px solid #999;
  position: relative;
  height: 36px;
  line-height: 36px;
}

.navbarr .applied-filters .titlee .applied-filter-close-all {
  position: absolute;
  top: 0px;
  right: 0px;
}

.navbarr .applied-filters .titlee .applied-filter-close-all .btn-remove-filter {
  padding: 0px 3px 2px;
}

.navbarr .applied-filters .applied-filter {
  position: relative;
}

.navbarr .applied-filters .applied-filter .applied-filter-row {
  border-bottom: 1px dashed #999;
  position: relative;
  transition: background-color 0.3s ease;
}

.navbarr .applied-filters .applied-filter .applied-filter-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbarr .applied-filters .applied-filter .applied-filter-row:last-child {
  border-bottom: none;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-close {
  position: absolute;
  top: 0px;
  right: 0px;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-close .btn-remove-filter {
  padding: 0px 3px 2px;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-title {
  float: left;
  width: 90px;
  padding-right: 10px;
  text-align: right;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-title span {
  display: block;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-items {
  padding-top: 2px;
  padding-bottom: 0px;
  float: left;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-items .applied-filter-item {
  float: left;
  margin: 0px;
  margin-right: 4px;
  margin-top: 4px;
  position: relative;
  padding-right: 34px;
  overflow-x: hidden;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-items .applied-filter-item .checked-item-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navbarr .applied-filters .applied-filter .applied-filter-row .applied-filter-items .applied-filter-item .checked-item-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* MAIN NAVBAR
******************************************************************/

.main-navbar {
  padding: 0px !important;
}

.main-navbar .navbar-nav .nav-item a {
  padding: 10px 14px;
}

.main-navbar .navbar-nav .nav-item.active a {
  background-color: #eaecef !important;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  position: relative;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li a {
  display: block;
  width: 100%;
  padding: 6px 10px;
  text-decoration: none;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li a:hover {
  background-color: #eaecef !important;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li a .chevr {
  float: right;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li:hover ul {
  display: block;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li:hover > a {
  background-color: #eaecef !important;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  top: 4px;
  left: 150px;
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
}

/* TEMPLATES LIST
******************************************************************/

.templates-list #dataTable .coll-price,
.templates-list #dataTable .workers-count {
  vertical-align: middle;
  text-align: center !important;
}

.templates-list #dataTable .actions {
  width: 80px !important;
}

.templates-list #dataTable .actions .action {
  margin-left: 6px;
}

/* DATATABLE ACTION BUTTONS
******************************************************************/

.action-drop .dropdown-menu {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 10px;
  text-align: center;
}

.action-drop .dropdown-menu .btnns {
  padding: 10px 0px;
}

.action-drop .dropdown-menu .btnns .btnn {
  margin-right: 20px;
  display: inline-block;
  outline: none;
  border: none !important;
}

.action-drop .dropdown-menu .btnns .btnn:last-child {
  margin-right: 0px;
}

/* PAGE ACTIONS
******************************************************************/

.page-actions .page-action {
  position: relative;
  top: 20px !important;
}

.page-actions .page-action svg {
  position: relative;
  top: -2px !important;
}

/* MODAL CUSTOM DARK HEADER FOOTER
******************************************************************/

.modal-custom-dark-header-footer .modal-header {
  padding-right: 50px;
  position: relative;
}

.modal-custom-dark-header-footer .modal-header .badge-information {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 14px !important;
}

.modal-custom-dark-header-footer .modal-header .close {
  font-size: 60px;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  line-height: 0.8em;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
}

.modal-custom-dark-header-footer .modal-header .close span {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
}

.modal-custom-dark-header-footer .modal-header .close:hover {
  color: #fff;
  opacity: 1 !important;
}

.modal-custom-dark-header-footer .modal-header,
.modal-custom-dark-header-footer .modal-footer {
  color: white;
  cursor: move;
}

.modal-custom-dark-header-footer .modal-content {
  background-color: #6c757d;
  box-shadow: 0px 0px 3px 0px rgba(190, 229, 235, 0.7);
}

.modal-custom-dark-header-footer .modal-content .btn-group {
  margin-top: -1px;
  border-radius: 0px;
}

.modal-custom-dark-header-footer .modal-content .btn-group .btn {
  border-radius: 0px !important;
}

.modal-custom-dark-header-footer .modal-body {
  background-color: white;
}

/* SHOW TABLE
******************************************************************/

table.show-table {
  width: 100%;
}

table.show-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.show-table tr td,
table.show-table tr th {
  border: 1px solid #ccc;
  padding: 3px 6px;
}

table.show-table tr td:first-child {
  /* background-color: #f1f1f1; */
  width: 140px;
}

/* BUSINESS HOURS
******************************************************************/

#businessHours .card-body {
  padding: 0px;
}

#businessHours .card-body table {
  width: 100%;
}

#businessHours .card-body table tr.end td {
  padding-bottom: 10px;
}

#businessHours .card-body table tr.start td {
  padding-top: 10px;
}

#businessHours .card-body table tr td {
  background-color: rgba(0, 0, 0, 0.03);
}

#businessHours .card-body table tr td:nth-child(1) {
  padding-left: 4px;
  padding-right: 4px;
}

#businessHours .card-body table tr.end:nth-child(4n-2) td,
#businessHours .card-body table tr.start:nth-child(4n-3) td {
  background-color: #ffffff;
}


