/* MAIN
******************************************************************/

.page-content {
  padding-top: 20px;
}

/* HOME PAGE
******************************************************************/

.home-page .card {
  margin-bottom: 20px;
}

/* CALENDAR ALL BOOKINGS
******************************************************************/

.calendar-all-bookings .for-closed-slot {
  padding-left: 30px;
  padding-right: 4px;
  padding-top: 4px;
}

.calendar-all-bookings .for-closed-slot .closed-slot {
  display: block;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
  transition: background 0.2s ease;
  margin-bottom: 6px;
}

.calendar-all-bookings .month-calendar {
  padding-top: 10px !important;
  min-width: 800px;
}

.calendar-all-bookings .month-calendar table {
  width: 100%;
}

.calendar-all-bookings .month-calendar table td,
.calendar-all-bookings .month-calendar table th {
  border: 1px solid #ccc;
}

.calendar-all-bookings .month-calendar table th {
  text-align: center;
}

.calendar-all-bookings .month-calendar table td {
  width: 14.25%;
  vertical-align: top;
}

.calendar-all-bookings .month-calendar table td:hover .counters {
  opacity: 1;
}

.calendar-all-bookings .month-calendar table td .cell-content {
  min-height: 80px !important;
  position: relative;
}

.calendar-all-bookings .month-calendar table td .cell-content .day {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  padding: 0px 4px;
  background-color: #444;
  border-radius: 3px;
  color: white;
}

.calendar-all-bookings .month-calendar table tr.divider td {
  height: 10px;
  background-color: #6c757d;
}

.calendar-all-bookings .month-calendar .day.not-period {
  color: #999;
}

.calendar-all-bookings .month-calendar .current-day {
  background-color: rgba(8, 232, 222, 0.3);
}

.calendar-all-bookings .month-calendar .booking {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.calendar-all-bookings .month-calendar .counters {
  width: 26px;
  float: left;
  font-size: 12px;
  padding-top: 26px;
  padding-left: 4px;
  line-height: 14px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.calendar-all-bookings .month-calendar .counters ul {
  padding: 0px;
  margin: 0px;
}

.calendar-all-bookings .month-calendar .counters ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.calendar-all-bookings .month-calendar .counters ul li span {
  cursor: pointer;
}

.calendar-all-bookings .month-calendar .counters ul li span.badge-counter-total {
  background-color: #17a2b8 !important;
  color: white;
}

.calendar-all-bookings .month-calendar .counters ul li span.badge-counter-approved {
  background-color: #723380;
  color: white;
}

.calendar-all-bookings .month-calendar .counters ul li span.badge-counter-not-approved {
  background-color: #cf582c;
  color: white;
}

.calendar-all-bookings .month-calendar .events ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding-left: 30px;
  padding-right: 4px;
  padding-top: 4px;
}

.calendar-all-bookings .month-calendar .events ul li {
  list-style: none;
}

.calendar-all-bookings .month-calendar .events ul li .free-slot {
  background-color: red;
  display: block;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.5);
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
  transition: background 0.2s ease;
  margin-bottom: 6px;
}

.calendar-all-bookings .month-calendar .events ul li .event {
  background-color: red;
  display: block;
  width: 100%;
  min-height: 60px;
  background-color: #cf582c;
  /* margin-bottom: 3px; */
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 22px 2px 6px;
  color: white;
  text-decoration: none;
  transition: background 0.2s ease;
  position: relative;
  margin-bottom: 6px;
}

.calendar-all-bookings .month-calendar .events ul li .event.approved {
  background-color: #723380;
}

.calendar-all-bookings .month-calendar .events ul li .event .actions {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
}

.calendar-all-bookings .month-calendar .events ul li .event .actions ul {
  padding: 0px;
  margin: 0px;
}

.calendar-all-bookings .month-calendar .events ul li .event .actions ul li {
  width: 20px;
  height: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.calendar-all-bookings .month-calendar .events ul li .event .actions ul li a {
  color: white;
}

.calendar-all-bookings .month-calendar .events ul li .event .actions ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* TEMPLATE ASSIGNMENT
******************************************************************/

/* TEMPLATE ASSIGNMENT
******************************************************************/

/* SPECIFIC ASSIGNMENT
******************************************************************/

.specifics-assignment {
  padding-top: 10px;
  padding-bottom: 20px;
}

.specifics-assignment .specific-dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.specifics-assignment .specific-dropdown:last-child {
  margin-bottom: 0px;
}

.specifics-assignment .specific-dropdown .dropdown-toggle {
  width: 100%;
}

.specifics-assignment .specific-dropdown .dropdown-menu {
  width: 100% !important;
  max-height: 200px;
  overflow-y: auto;
}

/* NOTICE BADGES
******************************************************************/

.notice-badges .notice-badge {
  transition: opacity 0.3s ease;
  width: 22px;
  display: inline-block;
}

/* LANGUAGES PAGE
******************************************************************/

.languages-page {
  padding-top: 20px;
  background-color: #f8f9fa !important;
  padding-left: 10px;
  padding-right: 10px;
}

.languages-page .coll {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

/* CUSTOM CHECKBOX
******************************************************************/

/* Customize the label (the container) */

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* SETTING PAGE
******************************************************************/

.setting-page {
  display: table;
  width: 100%;
  /* Setting template specifics
  ******************************************************************/
  /* Client`s booking calendar main setting
  ******************************************************************/
  /* Timezone setting
  ******************************************************************/
}

.setting-page .sp-wrapper {
  display: table-row;
}

.setting-page .sp-wrapper .sp-itm {
  display: table-cell;
  vertical-align: top;
}

.setting-page .sp-wrapper .sp-itm.sp-content {
  padding-left: 20px;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul {
  padding: 0px;
  margin: 0px;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li {
  list-style: none;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li a {
  display: block;
  text-decoration: none;
  padding: 6px 8px;
  line-height: 1em;
  border: 1px solid white;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li a.active {
  background-color: #e9ecef !important;
}

.setting-page .sp-wrapper .sp-itm.sp-sidebar ul li a:hover {
  text-decoration: underline;
}

.setting-page .all-settings .d-table {
  width: 100%;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell {
  vertical-align: top;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell:first-child {
  width: 50px;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell .setting-title {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell ul {
  padding: 0px;
  margin: 0px;
}

.setting-page .all-settings .d-table .d-table-row .d-table-cell ul li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.setting-page .template-specifics .child-specifics {
  padding-left: 20px;
}

.setting-page .template-specifics .alert-item {
  margin-bottom: 6px !important;
  padding: 10px 10px;
  padding-right: 140px;
}

.setting-page .template-specifics .alert-item .btnnns {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 7px;
  padding-right: 5px;
}

.setting-page .template-specifics .alert-item .btnnns .btnnn {
  float: right;
  margin-left: 8px;
}

.setting-page .template-specifics .specific-search {
  padding-left: 0px;
  float: left;
}

.setting-page .template-specifics .specific-search .search-field,
.setting-page .template-specifics .specific-search .search-btn {
  float: left;
}

.setting-page .template-specifics .specific-search .search-field {
  padding-right: 5px;
  position: relative;
}

.setting-page .template-specifics .specific-search .search-field input {
  padding-right: 30px;
}

.setting-page .template-specifics .specific-search .search-field a {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 1.8em;
  color: black;
}

.setting-page .template-specifics .specifics-handles {
  padding-bottom: 10px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker {
  width: 100%;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .dropdown-toggle {
  width: 100%;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  width: 100% !important;
  padding: 0px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul {
  padding: 0px;
  margin: 0px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul li a.itemm {
  white-space: normal;
  display: block;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 1px solid #e1e1e1;
}

.setting-page .template-specifics .specific-modal .specific-parent-dropdown-picker .specifics-dropdown-menu ul li a.itemm:hover {
  background-color: #f4f4f4;
}

.setting-page .clients-booking-calendar-main-setting {
  background-color: #f8f9fa !important;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
}

.setting-page .timezone-picker-page {
  background-color: #f8f9fa !important;
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 6px;
}

/* EDIT CREATE NAV TABS
******************************************************************/

.edit-create-nav-tabs {
  position: relative;
  border: 0px !important;
  position: relative;
  top: 1px;
  left: 4px;
  z-index: 99;
}

.edit-create-nav-tabs li a {
  border: 1px solid #f4f4f4 !important;
}

.edit-create-nav-tabs li a.active {
  background-color: #f8f9fa !important;
  border-bottom: 1px solid #f8f9fa !important;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f2f2+0,f8f9fa+100 */
  background: #f2f2f2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%, #f8f9fa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#f8f9fa",GradientType=0 );
  /* IE6-9 */
}

.edit-create-nav-tabs li.action-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.edit-create-nav-tabs .dropdown-menu {
  border-radius: 4px !important;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/* EDIT CREATE TAB CONTENT
******************************************************************/

.edit-create-tab-content {
  background-color: #f8f9fa !important;
  position: relative;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
}

.edit-create-tab-content #hours {
  padding-top: 15px;
}

/* BREADCRUMBS
******************************************************************/

.breadcrumb {
  padding: 3px 12px !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  background-color: #eaecef !important;
}

input,
textarea,
select {
  background-color: #f9f9f9 !important;
}

/* MAIN NAVBAR
******************************************************************/

.main-navbar {
  padding: 0px !important;
}

.main-navbar .navbar-nav .nav-item a {
  padding: 10px 14px;
}

.main-navbar .navbar-nav .nav-item.active a {
  background-color: #eaecef !important;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  position: relative;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li a {
  display: block;
  width: 100%;
  padding: 6px 10px;
  text-decoration: none;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li a:hover {
  background-color: #eaecef !important;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li a .chevr {
  float: right;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li:hover ul {
  display: block;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings li:hover > a {
  background-color: #eaecef !important;
}

.main-navbar .navbar-nav .nav-item .main-navbar-settings ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  top: 4px;
  left: 150px;
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
}

/* TEMPLATES LIST
******************************************************************/

.templates-list #dataTable .coll-price,
.templates-list #dataTable .workers-count {
  vertical-align: middle;
  text-align: center !important;
}

.templates-list #dataTable .actions {
  width: 80px !important;
}

.templates-list #dataTable .actions .action {
  margin-left: 6px;
}

/* DATATABLE ACTION BUTTONS
******************************************************************/

.action-drop .dropdown-menu {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 10px;
  text-align: center;
}

.action-drop .dropdown-menu .btnns {
  padding: 10px 0px;
}

.action-drop .dropdown-menu .btnns .btnn {
  margin-right: 20px;
  display: inline-block;
  outline: none;
  border: none !important;
}

.action-drop .dropdown-menu .btnns .btnn:last-child {
  margin-right: 0px;
}

/* PAGE ACTIONS
******************************************************************/

.page-actions .page-action {
  position: relative;
  top: 20px !important;
}

.page-actions .page-action svg {
  position: relative;
  top: -2px !important;
}

/* MODAL CUSTOM DARK HEADER FOOTER
******************************************************************/

.modal-custom-dark-header-footer .modal-header {
  padding-right: 50px;
  position: relative;
}

.modal-custom-dark-header-footer .modal-header .badge-information {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 14px !important;
}

.modal-custom-dark-header-footer .modal-header .modal-title .badge {
  cursor: default;
  font-size: 14px !important;
}

.modal-custom-dark-header-footer .modal-header .close {
  font-size: 60px;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  line-height: 0.8em;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
}

.modal-custom-dark-header-footer .modal-header .close span {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
}

.modal-custom-dark-header-footer .modal-header .close:hover {
  color: #fff;
  opacity: 1 !important;
}

.modal-custom-dark-header-footer .modal-header,
.modal-custom-dark-header-footer .modal-footer {
  color: white;
}

.modal-custom-dark-header-footer .modal-content {
  background-color: #6c757d;
  box-shadow: 0px 0px 3px 0px rgba(190, 229, 235, 0.7);
}

.modal-custom-dark-header-footer .modal-content .btn-group {
  margin-top: -1px;
  border-radius: 0px;
}

.modal-custom-dark-header-footer .modal-content .btn-group .btn {
  border-radius: 0px !important;
}

.modal-custom-dark-header-footer .modal-body {
  background-color: white;
}

/* SHOW TABLE
******************************************************************/

table.show-table {
  width: 100%;
}

table.show-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.show-table tr td,
table.show-table tr th {
  border: 1px solid #ccc;
  padding: 3px 6px;
}

table.show-table tr td:first-child {
  /* background-color: #f1f1f1; */
  width: 140px;
}

/* BUSINESS HOURS
******************************************************************/

#businessHours .card-body {
  padding: 0px;
}

#businessHours .card-body table {
  width: 100%;
}

#businessHours .card-body table tr.end td {
  padding-bottom: 10px;
}

#businessHours .card-body table tr.start td {
  padding-top: 10px;
}

#businessHours .card-body table tr td {
  background-color: rgba(0, 0, 0, 0.03);
}

#businessHours .card-body table tr td:nth-child(1) {
  padding-left: 4px;
  padding-right: 4px;
}

#businessHours .card-body table tr.end:nth-child(4n-2) td,
#businessHours .card-body table tr.start:nth-child(4n-3) td {
  background-color: #ffffff;
}


